*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, h1, h2, h3{
    font-family: "Roboto";
}

p, li{
    font-family: "Montserrat";
    font-weight: 500;
}

span{
    font-weight: 600;
    color: #f47654;
}

body {
    overflow-x: hidden;
}

.icon {
    position: fixed;
    bottom: 60px;
    right: 30px;
    font-size: 30px;
    border-radius: 50%;
    padding: 3px;
    text-decoration: none;
    z-index: 100;
}

.icon:hover{
    background-color: #fff;
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 20px #5fe690;
}

.full-widht-header {
    background-image: url("../imagens/fundo.webp");
    background-size: cover; 
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
}

header{
    z-index: 2;
    position: relative;
    width: 0 auto;
}

.content {
    max-width: 1400px;
}

.content .logo a img{
    object-fit: cover;
    object-position: center;
}

.content nav ul{
    text-decoration: none;
}

.content nav ul li{
    margin-left: 1.50rem;
    list-style-type: none;
}

.content nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 700;
    transition: color 0.3s;
}

.content nav ul li a:hover{
    color:  #f47654;
}

.content nav ul li:first-child{
    margin-left: 0px;
}


.content .button-header-orca button{
    padding: 15px 20px;
    background: rgb(244,118,84);
    background: linear-gradient(87deg, rgba(244,118,84,1) 0%, rgba(255,143,112,1) 0%, rgba(251,116,71,1) 68%, rgba(251,116,71,1) 97%);    border: none;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    font-family: "Montserrat";
    border: none;
    font-weight: 500;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.content .button-header-orca button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.content .button-header-orca button:hover {
    transform: translateY(-5px);
}

.intro h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 1rem;
    color: white;
}

.intro p {
    font-size: 17px;
    margin-bottom: 2rem;
    font-weight: 400;
    color: white;
}


.intro .content-section .button-header-orca .button-orcamento {
    padding: 20px 55px;
    background: rgb(244,118,84);
    background: linear-gradient(87deg, rgba(244,118,84,1) 0%, rgba(255,143,112,1) 0%, rgba(251,116,71,1) 28%, rgba(247,117,74,1) 63%, rgba(233,119,81,1) 100%);
    color: white;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    font-size: 17px;
    font-family: "Montserrat";
    font-weight: 500;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    outline: none;
}

.intro .content-section .button-header-orca button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.intro .content-section .button-header-orca button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.intro .content-section .button-header-orca .button-sobre-nos {
    padding: 20px 45px;
    border-color: white; 
    color: white;
    border-radius: 10px;
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.2s ease; 
}

#quem-somos {
    padding: 60px 20px;
    position: relative;
}

.content-sobre-nos {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    gap: 50px;
}

.content-text-sobre h2 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(244,118,84);
}

.content-text-sobre h1{
    font-size: 46px;
    color: rgb(84, 84, 84);
    margin-bottom: 10px;
    font-weight: 600;
}

.content-text-sobre p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #4a4a4a;
}


.testando-layout{
    gap: 13px;
}

.testando-layout h1{
    padding: 0;
    margin: 5px;
}

.testando-layout-text{
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
}

.testando-layout-check {
    font-size: 20px;
    color: gray;
}


.testando-layout-check div{
   margin-bottom: 1rem;
}


.testando-layout-check div p{
    font-size: 17px;
    margin: 0;
    margin-left: 5px;
}

.testando-layout h1{
    color: white;
}

.testando-layout h2{
    font-size: 17px;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
}

.content-sobre-nos{
    max-width: 1400px;
}

.item1 img{
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}


.content-email {
    margin-top: 3rem;
    gap: 15px;
}

.content-email i {
    padding: 15px;
    border-radius: 50%;
}

.content-email-text,
.content-email-text p {
    padding: 0;
    margin-bottom: 0px;
}

.content-email-text .email-p{
    font-weight: 400;
    font-size: 18px;
}

.content-email .email-p-p{
    font-weight: 800;
    font-size: 15px;
}


#servicos {
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 20px;
}

#servicos h1{
    font-size: 45px;
    font-weight: 900;
}

#servicos p {
    font-weight: 600;
    font-size: 30px;
    margin-top: 1rem;
    margin-bottom: 4rem;
    color: gray;
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.image-container img {
    object-fit: cover;
    transition: transform 0.3s ease;
    z-index: 1;
}

.overlay-1 {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    z-index: 2;
    padding-left: 30px;
    padding-bottom: 40px;
}

.checklist-overlay {
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: all 0.5s ease;
    padding: 20px;
}

.teste-bc{
    margin-bottom: 20px;
}

.teste-bc i{
    font-size: 65px;
    margin-bottom: 15px;
}

.teste-bc h3{
    font-size: 30px;
}

.checklist-overlay li{
    margin-bottom: 10px;
    text-align: left;
    list-style: none;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 600;
}

.image-container:hover img {
    transform: scale(1.1);
}

.image-container:hover .overlay-1 {
    transform: translateY(-100%);
    opacity: 0;
}

.image-container:hover .checklist-overlay {
    top: 0;
    opacity: 1;
}

.blu{
    margin: 0;
    padding: 0;
}

.blu i{
    font-size: 30px;
    margin-bottom: 10px;
}

#servicos button {
    margin-top: 4rem;
    padding: 20px 55px;
    background: rgb(244,118,84);
    background: linear-gradient(87deg, rgba(244,118,84,1) 0%, rgba(255,143,112,1) 0%, rgba(251,116,71,1) 28%, rgba(247,117,74,1) 63%, rgba(233,119,81,1) 100%);
    color: white;
    cursor: pointer;
    border-radius: 7px;
    border: none;
    font-size: 17px;
    font-family: "Montserrat";
    font-weight: 500;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    outline: none;
}

#servicos button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#servicos button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#footer {
    padding: 40px 0;
    width: 100%;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
    margin: 0 auto;
}

.footer-row {
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-col h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #f4f4f4;
}

.footer-col .contact-info{
    color: rgb(184, 184, 184);
}

.footer-col .contact-info i{
    margin-right: 1rem;
}

.footer-col p, 
.footer-col a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.6;
}

.footer-col a:hover {
    color: #f47a5c;
    text-decoration: underline;
}

.footer-bottom {
    padding: 10px 0;
    border-top: 1px solid #444;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    margin-top: 1rem;
}

#footer .container .midias-sociais{
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}
 
.footer-col ul{
    list-style-type: none;
}

#footer .container .midias-sociais a{
    text-decoration: none;
    color: white;
}